<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>New Message</title>
	</head>
	<body>
		<h1>Submit a New Message</h1>
		<form method="POST" action="/new">
			<div>
				<label for="user_name">Enter name:</label>
				<input id="user_name" type="text" name="user_field" />
			</div>
			<div>
				<label for="message">Enter message:</label>
				<input id="message" type="text" name="message_field" />
			</div>
			<div><input type="submit" value="Submit Message" /></div>
		</form>
	</body>
</html>
