<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<% messages.forEach((message) => {%>
		<h4><%= message.text %></h4>
		<p><%= `${message.user} - ${message.added}` %></p>
		<% }); %>
	</body>
</html>
