<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<% messages.forEach((message) => {%>
		<h4><%= message.user %></h4>
		<p><%= `${message.text} - ${message.added}` %></p>
		<% }); %>
		<a href="/new">Add a Message</a>
	</body>
</html>
